@charset "utf-8";

.container {
    background-color: cadetblue;
    padding: 30px;
}

.card {
    height: 100%;
    margin-bottom: 0px;
}

img {
    height: 50%;
}

.card-body {
    padding-top: 30px;
}

a {
    text-decoration: none;
}