@charset "utf-8";

.colonna1_tab {
    padding-right: 40px;
    font-weight: 600;
}

body {
    background-color: darkslategray;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

td { 
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

